.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 400px;
}

.material-icons.md-34 {
  font-size: 34px;
}
